

@font-face{
    font-family: "Futura Medium";
    src: url(fonts/Futura\ Medium.otf) format(truetype);
}

body{
    background-image: url(imgs/Test\ background\ for\ website.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
padding-bottom: 2%;
border: 3px;
}

.title{
color: white;
background-image:linear-gradient(rgb(207, 73, 207), rgb(236, 236, 119));
text-align: center;
border: solid rebeccapurple 3px;
font-size: 115px;
margin-top: 5%;
margin-bottom: 3%;
border-radius: 6px;

}

.blogs{

}

.Introduction{
    color:white;
    text-align: center;
    padding: 1%;
    font-size: 35px;
    background-color: rgb(255, 144, 104);
    border-radius: 6px;
    border: solid salmon 3px;
}

span{
    font-size: 75px;
    text-align: center;
}

.spoon{

}

.blog1{
    color: white;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 10%;
    font-size: 34px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(226, 170, 226),rgb(212, 137, 212));
    border: solid rgb(238, 238, 182) 10px;
    padding: 2px;
    
}
.blog2 {
 font-family: ;
    text-align: center;
    margin: 2%;
    font-size: 37px;
    background-image: linear-gradient(rgb(212, 137, 212), rgb(179, 77, 179));
    color: white;
    border: solid purple 8px;
    border-radius: 20px;
    margin: 8px;
    margin-top: 20px;
    margin-bottom: 400px;
}

.blog3{
    text-align: center;
    font-size: 35px;
    color:white;
    background-image: url(imgs/Blog3\ background.png);
    background-repeat: no-repeat;
    background-size: cover;
}