body{
    background-color: greenyellow;
}


.child{
color: white;
background-color:yellowgreen;
text-align: center;
border: solid red 2px;
font-size: 115px;
margin-top: 5%;
margin-bottom: 11%;
}
.blogs{
    color:aliceblue;

}