

body{
    background-image: url(imgs/Test\ background\ for\ website.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Finlandica', sans-serif;
}

.header{
padding-bottom: 2%;
border: 3px;
}

.title{
color: white;
background-image:linear-gradient(rgb(207, 73, 207), rgb(213, 95, 213));
text-align: center;
border: solid rebeccapurple 3px;
font-size: 100px;
margin-top: 5%;
margin-bottom: 3%;
border-radius: 6px;
padding: 1%;
}


.Introduction{
    color:white;
    text-align: center;
    padding: 1%;
    font-size: 35px;
    background-color: black;
    border-radius: 6px;
    border: solid rgb(31, 31, 31) 6px;
    margin: 50px 50px;
}

.absolute{
    position: absolute;
    top: 150px;
    right: 700px;
}

.img {
border: solid white;
border-radius: 1px;
}


span{
    font-size: 75px;
    text-align: center;
    padding-bottom: .25%;
    display: block;
}



.blog1{
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 27.5px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(226, 170, 226),rgb(222, 162, 222));
    border: solid rgb(207, 117, 207) 10px;
    padding: 1px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 1%;
    
}
.blog2 {
    text-align: center;
    font-size: 29px;
    background-image: linear-gradient(rgb(208, 125, 208), rgb(177, 74, 177));
    color: white;
    border: solid purple 8px;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 125px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 1%;
}

.blog3{
    text-align: center;
    font-size: 30px;
    color:white;
    background-image: url(imgs/Blog3\ background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin: 75px;
    padding: 1%;
}